/* Hero */
#hero{
    background-color: #241B23;
    color: white;
    height: 100vh;
}

.hero-video{
    height: inherit;
    object-fit: cover;
    opacity: 0.4;
}
  

.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hero-title{
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6.5em !important;
}


.hero-subtitle{
    font-family: "Livvic", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.7em;
}


@media screen and (max-width: 768px){
    .hero-title{
        font-size: 3em !important;
    }
    
    .hero-subtitle{
        font-size: 1em;
    }
    
}


.profile-img{
    width: 9em;
    height: 9em;
    max-width: 100%;
    height: 100%;
}

.fa-solid{
    margin-right: 0.3em;
}

.fa-brands{
    font-size: 1.8em;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}